@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Blinker&family=Inder&family=Jomhuria&family=Kotta+One&family=Kreon&family=Krub&family=Poppins&family=Work+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar { /*Trilho */
  width: 10px;
  background: white;
}

::-webkit-scrollbar-thumb { /* Rolagem */
  background: #433d3d;
  border-radius: 10px;
}

body {
  background-color: black;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 100px;
  z-index: 1000;
}
header::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  left: 90px;
  height: 5px;
  width: 35%;
  background: linear-gradient(90deg, white, transparent);
}
.logo img {
  max-width: 140px;
}

.banner {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}
.banner::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.9)
  );
}
.banner::before {
  position: absolute;
  content: "";
  top: 25%;
  left: 0;
  width: 5px;
  height: 40%;
  background: linear-gradient(white, white, transparent);
  z-index: 100;
}

.banner .video-atleta {
  display: none;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.banner .video-atleta.active {
  display: block;
}

.banner .content {
  position: relative;
  max-width: 700px;
  padding-bottom: 200px;
  z-index: 100;
}

.banner .content h1 {
  font-size: 4em;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  line-height: 0.8em;
  letter-spacing: 5px;
  padding-top: 1%;
}

.banner .content .atleta {
  font-size: 3em;
  text-transform: uppercase;
  color: yellow;
  display: none;
}

.banner .content .atleta.active {
  display: block;
}

.banner .content p {
  color: white;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.banner .gallery {
  position: absolute;
  content: "";
  bottom: 0;
  width: 80%;
  height: 35%;
  z-index: 100;
  background: transparent;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.5),
    0px -10px 40px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .gallery::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: white;
  filter: blur(15px);
}

.banner .gallery .carousel {
  width: 100%;
  height: 100%;
  margin-top: 3%;
}

.carousel .carousel-item {
  width: 300px;
  height: 310px;
  cursor: pointer;
}

.carousel .carousel-item img {
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

.carousel .carousel-item h4 {
  text-align: center;
  color: yellow;
  font-size: 1.3em;
  font-weight: 300;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  header::after {
    display: none;
  }
  .logo {
    margin-top: 10px;
  }
  .banner {
    padding: 80px 40px 100px;
  }
  .banner .content {
    position: relative;
    padding: 50px 0 100px;
  }
  .banner .content h1 {
    font-size: 4em;
  }
  .banner .content p {
    margin-bottom: 150px;
  }
  .banner .content .atleta {
    font-size: 2em;
  }
  .banner .gallery {
    width: 100%;
    left: 0;
  }
  .banner .gallery .carousel {
  margin-top: 5%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 20px 50px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  .logo {
    margin-top: 10px;
  }
  .banner {
    padding: 80px 40px 100px;
  }
  .banner .content {
    position: relative;
    padding: 50px 0 100px;
  }
  .banner .content h1 {
    font-size: 4em;
  }
  .banner .content p {
    margin-bottom: 150px;
  }
  .banner .content .atleta {
    font-size: 2em;
  }
  .banner .gallery {
    width: 100%;
    left: 0;
  }
  .banner .gallery .carousel {
  margin-top: 2%;
  }
  }